.ql-editor table {
	width: 100%;
	border-collapse: collapse;
}

.ql-editor table td {
	border: 1px solid black;
	padding: 5px;
	height: 25px;
}

button.ql-table::after {
	content: "TABLE";
}

.ql-toolbar.ql-snow .ql-table.ql-picker .ql-picker-label,
.ql-toolbar.ql-snow .ql-table.ql-picker.ql-expanded .ql-picker-label{
    border: none!important;
    outline: none!important;
}

.ql-picker.ql-table .ql-picker-label::before {
    content: '';
    display: block;
    height: 18px;
    width: 18px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgY2xhc3M9IiI+PGcgdHJhbnNmb3JtPSJtYXRyaXgoMC45MjI3NDUgMCAwIDAuOTIyNzQ1IDAuNjE4MDQyIDAuNjE4MDQyKSI+PHBhdGggZmlsbD0iIzhDOEE4QSIgZD0iTTAgMXYxNWgxNnYtMTVoLTE2ek01IDE1aC00di0yaDR2MnpNNSAxMmgtNHYtMmg0djJ6TTUgOWgtNHYtMmg0djJ6TTUgNmgtNHYtMmg0djJ6TTEwIDE1aC00di0yaDR2MnpNMTAgMTJoLTR2LTJoNHYyek0xMCA5aC00di0yaDR2MnpNMTAgNmgtNHYtMmg0djJ6TTE1IDE1aC00di0yaDR2MnpNMTUgMTJoLTR2LTJoNHYyek0xNSA5aC00di0yaDR2MnpNMTUgNmgtNHYtMmg0djJ6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjNjk2ODY4Ii8+PC9nPiA8L3N2Zz4K");
    background-repeat: no-repeat;
    background-size: cover;
}

button.ql-contain::after {
	content: "WRAP";
}

.ql-table,
.ql-contain {
	width: auto !important;
	margin-right: -15px;
}

.ql-picker.ql-table {
	margin-right: -15px;
	font-size: 11px;
	font-weight: normal;
}

.ql-picker.ql-table svg {

}

.ql-snow .ql-picker.ql-table:not(.ql-color-picker):not(.ql-icon-picker) svg{
    display: none;
}

.ql-picker.ql-table .ql-picker-label {
	padding: 2px 3px;
}

.ql-picker.ql-table .ql-picker-options {
	width: 190px;
}

.ql-picker.ql-table .ql-picker-item {
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0px;
	margin: 1px;
}

.ql-picker.ql-table .ql-picker-item {
	background: lightgrey;
}

.ql-picker-item:nth-child(5):before {
	clear: both;
	display: block;
	content: "";
	width: 100%;
}

.ql-picker-item[data-value=newtable_1_1]:before {
	content: "1x1";
}

.ql-picker-item[data-value=newtable_1_2]:before {
	content: "1x2";
}

.ql-picker-item[data-value=newtable_1_3]:before {
	content: "1x3";
}

.ql-picker-item[data-value=newtable_1_4]:before {
	content: "1x4";
}

.ql-picker-item[data-value=newtable_1_5]:before {
	content: "1x5";
}

.ql-picker-item[data-value=newtable_1_6]:before {
    content: "1x6";
}

.ql-picker-item[data-value=newtable_1_7]:before {
    content: "1x7";
}

.ql-picker-item[data-value=newtable_1_8]:before {
    content: "1x8";
}

.ql-picker-item[data-value=newtable_1_9]:before {
    content: "1x9";
}

.ql-picker-item[data-value=newtable_1_10]:before {
    content: "1x10";
}

.ql-picker-item[data-value=newtable_2_1]:before {
	content: "2x1";
}

.ql-picker-item[data-value=newtable_2_2]:before {
	content: "2x2";
}

.ql-picker-item[data-value=newtable_2_3]:before {
	content: "2x3";
}

.ql-picker-item[data-value=newtable_2_4]:before {
	content: "2x4";
}

.ql-picker-item[data-value=newtable_2_5]:before {
	content: "2x5";
}

.ql-picker-item[data-value=newtable_2_6]:before {
	content: "2x6";
}

.ql-picker-item[data-value=newtable_2_7]:before {
	content: "2x7";
}

.ql-picker-item[data-value=newtable_2_8]:before {
	content: "2x8";
}

.ql-picker-item[data-value=newtable_2_9]:before {
	content: "2x9";
}

.ql-picker-item[data-value=newtable_2_10]:before {
	content: "2x10";
}

.ql-picker-item[data-value=newtable_3_1]:before {
	content: "3x1";
}

.ql-picker-item[data-value=newtable_3_2]:before {
	content: "3x2";
}

.ql-picker-item[data-value=newtable_3_3]:before {
	content: "3x3";
}

.ql-picker-item[data-value=newtable_3_4]:before {
	content: "3x4";
}

.ql-picker-item[data-value=newtable_3_5]:before {
	content: "3x5";
}

.ql-picker-item[data-value=newtable_3_6]:before {
	content: "3x6";
}

.ql-picker-item[data-value=newtable_3_7]:before {
	content: "3x7";
}

.ql-picker-item[data-value=newtable_3_8]:before {
	content: "3x8";
}

.ql-picker-item[data-value=newtable_3_9]:before {
	content: "3x9";
}

.ql-picker-item[data-value=newtable_3_10]:before {
	content: "3x10";
}

.ql-picker-item[data-value=newtable_4_1]:before {
	content: "4x1";
}

.ql-picker-item[data-value=newtable_4_2]:before {
	content: "4x2";
}

.ql-picker-item[data-value=newtable_4_3]:before {
	content: "4x3";
}

.ql-picker-item[data-value=newtable_4_4]:before {
	content: "4x4";
}

.ql-picker-item[data-value=newtable_4_5]:before {
	content: "4x5";
}

.ql-picker-item[data-value=newtable_4_6]:before {
	content: "4x6";
}

.ql-picker-item[data-value=newtable_4_7]:before {
	content: "4x7";
}

.ql-picker-item[data-value=newtable_4_8]:before {
	content: "4x8";
}

.ql-picker-item[data-value=newtable_4_9]:before {
	content: "4x9";
}

.ql-picker-item[data-value=newtable_4_10]:before {
	content: "4x10";
}

.ql-picker-item[data-value=newtable_5_1]:before {
	content: "5x1";
}

.ql-picker-item[data-value=newtable_5_2]:before {
	content: "5x2";
}

.ql-picker-item[data-value=newtable_5_3]:before {
	content: "5x3";
}

.ql-picker-item[data-value=newtable_5_4]:before {
	content: "5x4";
}

.ql-picker-item[data-value=newtable_5_5]:before {
	content: "5x5";
}

.ql-picker-item[data-value=newtable_5_6]:before {
	content: "5x6";
}

.ql-picker-item[data-value=newtable_5_7]:before {
	content: "5x7";
}

.ql-picker-item[data-value=newtable_5_8]:before {
	content: "5x8";
}

.ql-picker-item[data-value=newtable_5_9]:before {
	content: "5x9";
}

.ql-picker-item[data-value=newtable_5_10]:before {
	content: "5x10";
}

.ql-picker-item[data-value=newtable_6_1]:before {
	content: "6x1";
}

.ql-picker-item[data-value=newtable_6_2]:before {
	content: "6x2";
}

.ql-picker-item[data-value=newtable_6_3]:before {
	content: "6x3";
}

.ql-picker-item[data-value=newtable_6_4]:before {
	content: "6x4";
}

.ql-picker-item[data-value=newtable_6_5]:before {
	content: "6x5";
}

.ql-picker-item[data-value=newtable_6_6]:before {
	content: "6x6";
}

.ql-picker-item[data-value=newtable_6_7]:before {
	content: "6x7";
}

.ql-picker-item[data-value=newtable_6_8]:before {
	content: "6x8";
}

.ql-picker-item[data-value=newtable_6_9]:before {
	content: "6x9";
}

.ql-picker-item[data-value=newtable_6_10]:before {
	content: "6x10";
}

.ql-picker-item[data-value=newtable_7_1]:before {
	content: "7x1";
}

.ql-picker-item[data-value=newtable_7_2]:before {
	content: "7x2";
}

.ql-picker-item[data-value=newtable_7_3]:before {
	content: "7x3";
}

.ql-picker-item[data-value=newtable_7_4]:before {
	content: "7x4";
}

.ql-picker-item[data-value=newtable_7_5]:before {
	content: "7x5";
}

.ql-picker-item[data-value=newtable_7_6]:before {
	content: "7x6";
}

.ql-picker-item[data-value=newtable_7_7]:before {
	content: "7x7";
}

.ql-picker-item[data-value=newtable_7_8]:before {
	content: "7x8";
}

.ql-picker-item[data-value=newtable_7_9]:before {
	content: "7x9";
}

.ql-picker-item[data-value=newtable_7_10]:before {
	content: "7x10";
}

.ql-picker-item[data-value=newtable_8_1]:before {
	content: "8x1";
}

.ql-picker-item[data-value=newtable_8_2]:before {
	content: "8x2";
}

.ql-picker-item[data-value=newtable_8_3]:before {
	content: "8x3";
}

.ql-picker-item[data-value=newtable_8_4]:before {
	content: "8x4";
}

.ql-picker-item[data-value=newtable_8_5]:before {
	content: "8x5";
}

.ql-picker-item[data-value=newtable_8_6]:before {
	content: "8x6";
}

.ql-picker-item[data-value=newtable_8_7]:before {
	content: "8x7";
}

.ql-picker-item[data-value=newtable_8_8]:before {
	content: "8x8";
}

.ql-picker-item[data-value=newtable_8_9]:before {
	content: "8x9";
}

.ql-picker-item[data-value=newtable_8_10]:before {
	content: "8x10";
}

.ql-picker-item[data-value=newtable_9_1]:before {
	content: "9x1";
}

.ql-picker-item[data-value=newtable_9_2]:before {
	content: "9x2";
}

.ql-picker-item[data-value=newtable_9_3]:before {
	content: "9x3";
}

.ql-picker-item[data-value=newtable_9_4]:before {
	content: "9x4";
}

.ql-picker-item[data-value=newtable_9_5]:before {
	content: "9x5";
}

.ql-picker-item[data-value=newtable_9_6]:before {
	content: "9x6";
}

.ql-picker-item[data-value=newtable_9_7]:before {
	content: "9x7";
}

.ql-picker-item[data-value=newtable_9_8]:before {
	content: "9x8";
}

.ql-picker-item[data-value=newtable_9_9]:before {
	content: "9x9";
}

.ql-picker-item[data-value=newtable_9_10]:before {
	content: "9x10";
}

.ql-picker-item[data-value=newtable_10_1]:before {
	content: "10x1";
}

.ql-picker-item[data-value=newtable_10_2]:before {
	content: "10x2";
}

.ql-picker-item[data-value=newtable_10_3]:before {
	content: "10x3";
}

.ql-picker-item[data-value=newtable_10_4]:before {
	content: "10x4";
}

.ql-picker-item[data-value=newtable_10_5]:before {
	content: "10x5";
}

.ql-picker-item[data-value=newtable_10_6]:before {
	content: "10x6";
}

.ql-picker-item[data-value=newtable_10_7]:before {
	content: "10x7";
}

.ql-picker-item[data-value=newtable_10_8]:before {
	content: "10x8";
}

.ql-picker-item[data-value=newtable_10_9]:before {
	content: "10x9";
}

.ql-picker-item[data-value=newtable_10_10]:before {
	content: "10x10";
}

.tdbr, .trbr {
	display: none
}
